@font-face{
    font-family:"SnellRoundhand";
    src:url("../SnellRoundhand/snellroundhand_bold.otf") format("opentype");
    font-weight:Bold;
    font-style:Bold;
} 

.excursion{
    font-family:"SnellRoundhand";
}