@font-face{
    font-family:"SnellRoundhand";
    src:url("../SnellRoundhand/snellroundhand_bold.otf") format("opentype");
    font-weight:Bold;
    font-style:Bold;
} 

.excursion{
    font-family:"SnellRoundhand";
}

.popup p{
    font-family:"Cormorant-Bold";
}

@font-face {
    font-family:"Cormorant-Bold";
    src:url(../Cormorant/static/Cormorant-Bold.ttf)format("truetype");
    font-weight: bold;
    font-style: bold;
}