body{
    background-color: rgb(30,30,30);
}

.krug_green{
    padding-left: 35%;
    margin-top: 7%;
    width: 30vw;
    height: 30vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green2{
    padding-left: 60%;
    margin-top: 8%; 
    width: 30vw;
    height: 30vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green3{
    padding-left: 8%;
    margin-top: 8%; 
    width: 23vw;
    height: 23vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green4{
    padding-left: 8%;
    margin-top: 49%; 
    width: 30vw;
    height: 30vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green5{
    padding-left: 48%;
    margin-top: 52%; 
    width: 23vw;
    height: 23vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green6{
    padding-left: 45%;
    margin-top: 79%; 
    width: 30vw;
    height: 30vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green7{
    padding-left: 8%;
    margin-top: 85%; 
    width: 30vw;
    height: 30vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green8{
    padding-left: 62%;
    margin-top: 100%; 
    width: 20vw;
    height: 20vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.krug_green9{
    padding-left:30%;
    margin-top: 112%; 
    width: 30vw;
    height: 30vw;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug1{
    background: radial-gradient(rgb(242,206,215),rgb(255,249,238)70%);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin-top: 3%;
    margin-left: 50%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug2{
    background: radial-gradient(rgb(245, 209, 133),rgb(250,105,118)70%);
    border-radius: 50%;
    width: 23vw;
    height: 23vw;
    margin-top: 30%;
    margin-left: 10%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug3{
    background: radial-gradient(rgb(255, 204, 180),rgb(82, 107, 75)70%);
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    margin-top: 34%;
    margin-left: 35%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug4{
    background: radial-gradient(rgb(82, 107, 75),rgb(242,206,215)70%);
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    margin-top: 34%;
    margin-left: 68%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug5{
    background: radial-gradient(rgb(242,206,215),rgb(250,105,118)70%);
    border-radius: 50%;
    width: 32vw;
    height: 32vw;
    margin-top: 72%;
    margin-left: 20%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug6{
    background: radial-gradient(rgb(250,105,118),rgb(245, 209, 133)70%);
    border-radius: 50%;
    width: 32vw;
    height: 32vw;
    margin-top: 63%;
    margin-left: 62%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug7{
    background: radial-gradient(rgb(255, 204, 180),rgb(82, 107, 75)70%);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin-top: 95%;
    margin-left: 55%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug8{
    background: radial-gradient(rgb(255, 204, 180),rgb(82, 107, 75)70%);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin-top: 116%;
    margin-left: 15%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.gradient_krug9{
    background: radial-gradient(rgb(245, 209, 133),rgb(250,105,118)70%);
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    margin-top: 116%;
    margin-left: 50%;
    opacity: 80%;
    display: flex;
    position: absolute;
}

.flower2{
    margin-left: 76%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
    margin-top: 6%;
}

.lepestok2{
    width:7vw;
    height: 7vw;
    background-color: rgb(250,105,118);
    margin: 1px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.5s;
    position: relative; 
    transition: all 1s ease-in-out;
}

.flower3{
    margin-left: 48%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
    margin-top: 20%;
}

.lepestok3{
    width:10vw;
    height: 10vw;
    background-color: rgb(255, 203, 93);
    margin: 1px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.5s;
    position: relative; 
    transition: all 1s ease-in-out;
}

.flower1{
    margin-left: 8%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
    margin-top: 70%;
}

.lepestok1{
    width:7vw;
    height: 7vw;
    background-color: rgb(255, 203, 93);
    margin: 1px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.5s;
    position: relative; 
    transition: all 1s ease-in-out;
}

.flower4{
    margin-left: 80%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
    margin-top: 80%;
}

.lepestok4{
    width:5vw;
    height: 5vw;
    background-color: rgb(255, 204, 180);
    margin: 1px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.5s;
    position: relative; 
    transition: all 1s ease-in-out;
}

.flower5{
    margin-left: 30%;
    display: flex;
    position: absolute;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
    margin-top: 115%;
}

.lepestok5{
    width:7vw;
    height: 7vw;
    background-color: rgb(255, 203, 93);
    margin: 1px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.5s;
    position: relative; 
    transition: all 1s ease-in-out;
}

.gradient_krug,.gradient_krug7,
.gradient_krug8,.gradient_krug4,
.gradient_krug5{
    animation: rec1 3s infinite ease-in-out;
}

@keyframes rec1{
    0%{scale: 1;}
    50%{scale: 1.2;} 
    100%{scale: 1;} 
}

.gradient_krug1,.gradient_krug2,
.gradient_krug3,.gradient_krug6,
.gradient_krug9{
    animation: rec5 8s infinite ease-in-out;
}

@keyframes rec5{
    0%{scale: 1;} 
    50%{scale: 1.2;} 
    100%{scale: 1;} 
}
.flower2,.flower4{
    animation: rotateFlower 1s linear infinite;
}

.flower1,.flower3,.flower5{
    animation: rotateFlower 10s linear infinite;
}

@keyframes rotateFlower {
    from { transform: rotate(45deg); }
    to { transform: rotate(405deg); }
}

.krug_green5,.krug_green3,.krug_green1,.krug_green8,.krug_green7{
    animation: rec23 8s infinite ease-in-out;
}

@keyframes rec23{
    0%{scale: 1;} 
    50%{scale: 1.2;} 
    100%{scale: 1;} 
}

.krug_green2,.krug_green4,.krug_green6,.krug_green9{
    animation: rec231 8s infinite ease-in-out;
}

@keyframes rec231{
    0%{scale: 1.2;}
    50%{scale: 1;} 
    100%{scale: 1.2;}
}

.tekst_vverh{
    width:25%;
    margin-left: 72%;
    display: flex;
    position: absolute;
    margin-top: 2%;
    
}

.excursion{
    font-size: 5vw;
    color: rgb(82, 107, 75);
    display: flex;
    position: absolute;
    margin-top: 65%;
}

.fofairy{
    width:60%;
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 60%;
    margin-left: 19%;
}

.end{
    width:93%;
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 144%;
    margin-left: 3%;
}

.igra1{
    display: flex;
    position: absolute;
    width:43%;
    margin-left: 3%;
    margin-top: 2%;
}

.bloc2{
    display: flex;
    position: absolute;
    margin-left: 3%;
    width:43%;
    margin-top: 41.5%;
}

.knopka{
    width:22%;
    display: flex;
    position: absolute;
    margin-left: 13%;
    margin-top: 52%;
    transition: all 1s ease;
}

.knopka:hover{
    transition: all 1s ease;
    animation:  transform 1s linear ;
}

@keyframes transform{
    0%{scale:1}
    50%{scale:1.1}
    100%{scale:1}
}

.окунись{
    width:40%;
    display: flex;
    position: absolute;
    margin-left: 38%;
    margin-top: 33%;
}

.собери1{
    width:35%;
    display: flex;
    position: absolute;
    margin-left: 7%;
    margin-top: 9%;
}


.krilo1{
    width: 15%;
    position: absolute;
    margin-top: 11%;
    margin-left: 9.5%;
}

.krilo2{
    width: 15%;
    position: absolute;
    margin-top: 11%;
    margin-left: 24.5%;
}

.krilo3{
    width: 10%;
    position: absolute;
    margin-top: 23%;
    margin-left: 14.5%;
}

.krilo4{
    width: 10%;
    position: absolute;
    margin-top: 23%;
    margin-left: 24.5%;
}

.igra2{
    display: flex;
    position: absolute;
    width:38%;
    margin-left: 59%;
    margin-top: 74%;
}

.knopka2{
    display: flex;
    position: absolute;
    width:18%;
    margin-left: 69%;
    margin-top: 98%;
    transition: all 1s ease;
}

.knopka2:hover{
    transition: all 1s ease;
    animation:  transform 1s linear ;
}

@keyframes transform{
    0%{scale:1}
    50%{scale:1.1}
    100%{scale:1}
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 249, 238);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    z-index: 1000;
}

.popup p{
    font-size: 20px;
    color: rgb(82, 107, 75);
    font-weight: bold;
    margin-bottom: 20px;
}

.close{
    background: rgb(253, 174, 195);
    color: rgb(255, 249, 238);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.blok4{
    display: flex;
    position: absolute;
    width:38%;
    margin-left: 20%;
    margin-top: 94.5%;
}

.blok5{
    display: flex;
    position: absolute;
    width:33%;
    margin-left: 27%;
    margin-top: 83%;
}

.bloc6{
    display: flex;
    position: absolute;
    width:105%;
    margin-left: -8%;
    margin-top: 115%;
}

.star{
    display: flex;
    position: absolute;
    width:20%;
    margin-left: 70%;
    margin-top: 18%;
    animation: scaleStar 5s infinite alternate;
}
  
@keyframes scaleStar {
0% {transform: scale(1);}
100% {transform: scale(1.5);}
}


.butterfly {
    position: absolute;
    height: auto;
    width: auto;
    cursor: pointer;
    animation: float 2s infinite ease-in-out;
    transition: opacity 0.5s ease; 
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.b1 {
    position: absolute;
    width: 14%;
    margin-left: 32%;
    margin-top: 122%;
}

.b2 {
    position: absolute;
    width: 8%;
    margin-left: 14%;
    margin-top: 130%;
}